# Generated outputs
logs/
models/*.pkl
models/*.zip
wandb/

# Virtual environments
proj_env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# MuJoCo
MUJOCO_LOG.TXT

# macOS
.DS_Store

# IDE
pyrightconfig.json
